
.scoreBadge {
    position: absolute;
    bottom: -16px;
    left: 12px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #081c22;
    color: #21d07a;
    font-weight: bold;
    font-size: 0.85rem;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #081c22;
    z-index: 25;
}


.inlineRating {
    display: inline-block;
    bottom: -16px;
        left: 12px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #081c22;
        color: #21d07a;
        font-weight: bold;
        font-size: 0.85rem;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 0 0 2px #081c22;
        z-index: 25;
}
.green {
    background: #081c22;
    color: #21d07a;
    box-shadow: 0 0 0 2px #081c22;
}

.yellow {
    background: #081c22;
    color: #d2d531;
    box-shadow: 0 0 0 2px #081c22;
}

.red {
    background: #081c22;
    color: #db2360;
    box-shadow: 0 0 0 2px #081c22;
}