.header {
    background-color: #0d253f;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 64px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
    height: 100%;
}


.logoImage {
    height: 20px;
    width: auto;
    display: block;
}


.nav {
    display: none;
    gap: 40px;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navLink:hover {
    color: #01b4e4;
}

.navItem {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 100;
    min-width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem:hover .dropdown {
    display: block;
}

.dropdown li {
    width: 100%;
}

.dropdown li a {
    font-size: 15px;
    display: block;
    padding: 10px 16px;
    color: #333;
    text-decoration: none;
    transition: background 0.2s ease;
}

.dropdown li:hover>a {
    background-color: rgba(99, 104, 105, 0.1);
}


.searchIcon {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
}

.searchIcon:hover {
    color: #01b4e4;
    transform: scale(1.1);
}


.menuBtn {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


.mobileMenu {
    position: fixed;
    top: 64px;
    left: 0;
    width: 310px;
    height: calc(100vh - 64px);
    background-color: #16375b;
    padding: 20px;
    overflow-y: auto;
    z-index: 998;

  
}

.mobileSection {
    margin-bottom: 16px;
}

.mobileSection span {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
}

.mobileSection ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobileSection li {
    margin-bottom: 6px;
}

.mobileSection a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.mobileSection a:hover {
    text-decoration: underline;
}


@media (min-width: 768px) {
    .menuBtn {
        display: none;
    }

    .nav {
        display: flex;
    }

    .mobileMenu {
        display: none;
    }
}