.header {
    background-color:#0d253f;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 64px;
    margin: 0 auto;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.nav{
    display: flex;
    gap: 40px;
}

.navLink {

    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.navLink:hover {
    color: #01b4e4;
}

.navItem {
    position: relative;
}

.navItem:hover .dropdown {
    display: block;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 100;
    min-width: 130px;
    padding: 0;
    margin: 0;
    list-style: none;

}

.navItem:hover .dropdown{
    display: block;
}


.dropdown li {
    padding: 0;
    margin: 0;
    width: 100%;
   
    box-sizing: border-box;
}

.dropdown li a {
    font-size: 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}


.dropdown li:hover>a {
    background-color: rgba(99, 104, 105, 0.1);
    
}

.logoImage {
    height: 20px;
    width: 154px;
}

.searchIcon {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.searchIcon:hover{
    color: #01b4e4;
    height: 29.11;
    width: 29.11;
}